<% 
let data = locals
%>
<div class="polished-spectator-module player-data resizable" id=<%= data.id %> >
  <div class="topBar">
    <p class="topBarTitle"><%= data.name %></p>
  </div>
  <div class="moduleBody">
    <pre class="moduleBodyContent"><%= data.content %></pre>
  </div>
</div>